<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-mvvm-simple</title>
</head>
<body>

  <div id="app">
    <input type="text" v-model="hello">
    <input type="text" v-model="child.world">
    <p v-class="className" class="abc"> </p>
    first:<span> {{hello}} </span> <br>
    second:<span v-text="child.world"></span>
    <p v-html="htmlStr"></p>
    <button v-on:click="clickBtn">click to exchange values</button>
  </div>
  <script src="./lib/observer.js"></script>
  <script src="./lib/watcher.js"></script>
  <script src="./lib/compile.js"></script>
  <script src="./lib/vue.js"></script>
  <script>
  var vm = new Vue({
    el: '#app',
    data: {
      hello: 'hello',
      className: 'text',
      htmlStr: '<h3>hello world</h3>',
      child: {
        world: 'World!'
      }
    },
    methods: {
      clickBtn: function(e) {
        var hello = this.hello;
        this.hello = this.child.world;
        this.child.world = hello;
      }
    }
  });
  vm.$watch('child.someStr', function() {
    console.log(arguments);
  });
  </script>
</body>
</html>
